{include file="file:header.html" title="Delete a page"}
Are you sure you want to delete {$page.title}, with contents starting, "{$page.current_version.content|strip_tags|truncate:40|escape}...", <strong>and all its children:</strong>
{foreach from=$children item=child}
        {$child.title}
{/foreach}
?<br />
<strong>You cannot recover pages once they have been deleted!</strong>
<form action="{$SCRIPT_NAME}/page/do_delete/{$page.id}"
    method="post">
    <input type="submit" name="delete" value="Delete Page"/>
    <input type="submit" name="cancel" value="Cancel Delete" />
</form>
{include file="file:footer.html"}
