{capture assign=path}
{strip}
{foreach item=cannon from=$page->getCannonicalPages()}
{if $cannon->id != $page->id}
/<a href="{$SCRIPT_NAME}/page/view/{$cannon->id}">{$cannon->title}</a>
{else}
/{$cannon->title}
{/if}
{/foreach}
{/strip}
{/capture}
{include file="file:header.html" title=$page->title}
<div id="pagepath">{$path}</div>
{if $children}
<div id="childlist">
    {foreach item=child from=$children}
    {if $child->page_type == "html"}
      <a href="{$SCRIPT_NAME}/page/view/{$child->id}">{$child->title}</a>
      {/if}
    {/foreach}
    {if isset($restrictedZone)}
      {if $user->CanViewRestrictedZone()}
        {foreach item=child from=$restrictedZone}
          <a href="{$SCRIPT_NAME}/page/view/{$child->id}">{$child->title}</a>
        {/foreach}
      {else}
      <a href="{$SCRIPT_NAME}/subscribe/show/">Subscribe today</a> to gain access to:</a>
        <ul>
          {foreach item=child from=$restrictedZone}
            {if $child->getAbstract()}
              <li><a href="{$SCRIPT_NAME}/page/view/{$child->id}">{$child->title} (abstract)</a></li>
            {else}
              <li>{$child->title}</li>
            {/if}
          {/foreach}
        </ul>
      {/if}
    {/if}
</div>
{/if}
{if $abstract}
<h2>Abstract</h2>
<div id="abstract">
{$abstract}
</div>
<hr />
{/if}
<div id="content">
{$version->content}
</div>
{if $user->permission <= $page->write_perm}
<a href="{$SCRIPT_NAME}/page/edit/{$page->id}">(edit)</a>
{/if}
{if isset($emaillist)}
<div id="emaillist">
{$emaillist}
</div>
{/if}
{if isset($ebook)}
<hr />
<h3>eBook</h3>
<div id="ebook">
{$ebook}
</div>
{/if}
{if isset($reservations)}
<hr />
<h3>Reservations</h3>
<div id="reservations">
{$reservations}
</div>
{/if}
{if $forum}
<hr />
<h3>Forum</h3>
<div id="forums">
{* You might want to put your own disclaimer here *}
Disclaimer: Comments are the copyright of the individual author(s) and are not authorized to be distributed or duplicated without express permission. The owner of this website bears no responsibility for the content of these comments.
{$forum}
</div>
{/if}
{include file="file:footer.html"}
