{include file="header.html" title="Subscribe!"}
{insert name="pumaPage" title="Subscribe"}
<form action="{$paypalUrl}" method="post">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="custom" value="{$user->id}" /> 
    <input type="hidden" name="notify_url" value="{$notifyUrl}" /> 
    <input type="hidden" name="hosted_button_id" value="" />
    <input border="0" type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" />
    <img border="0" width="1" height="1" alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" />
</form>
{include file="footer.html"}
