{strip}
{include file="file:header.html" title="Change Password"}
<form action="{$SCRIPT_NAME}/user/do_password/" method="post">
      <label>Old Password:<input type="password" name="oldpassword" /></label><br />
      <label>New Password:<input type="password" name="newpw1" /></label><br />
      <label>New Password (confirm):<input type="password" name="newpw2" /></label><br />
      <input type="submit" value="Change" />
      <input type="reset" value="Clear Form" />
    </form>
{include file="file:footer.html"}
{/strip}
