{strip}
{include file="file:header.html" title="Change Email Address"}
<form action="{$SCRIPT_NAME}/user/do_email/" method="post">
	<label>Old Email Address:<input type="text" name="email" value="{$user->email}"/></label><br />
      <label>New Email:<input type="text" name="newemail1" /></label><br />
      <label>New Email (confirm):<input type="text" name="newemail2" /></label><br />
      <input type="submit" value="Change" />
      <input type="reset" value="Clear Form" />
    </form>
{include file="file:footer.html"}
{/strip}
